.iphone {
  background-color: #ffffff;
  overflow: hidden;
  width: 100%;
  min-width: 394px;
  min-height: 852px;
  position: relative;
}

.iphone .background {
  position: absolute;
  top: 0;
  left: 0;
  width: 394px;
  height: 852px;
  aspect-ratio: 0.56;
  object-fit: cover;
}

.iphone .logo {
  position: absolute;
  top: 136px;
  left: 91px;
  width: 203px;
  height: 31px;
  aspect-ratio: 6.65;
  object-fit: cover;
}

.iphone .status-bar-iphone {
  display: flex;
  width: 428px;
  height: 33px;
  align-items: center;
  justify-content: center;
  gap: 154px;
  padding: 21px 24px 19px;
  position: absolute;
  top: 6px;
  left: -39px;
}

.iphone .time {
  display: flex;
  height: 22px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 1.5px 0px 0px;
  position: relative;
  flex: 1;
  flex-grow: 1;
  margin-top: -14.50px;
  margin-bottom: -14.50px;
}

.iphone .text-wrapper {
  position: relative;
  width: fit-content;
  margin-top: -1.75px;
  font-family: "SF Pro-Semibold", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 17px;
  text-align: center;
  letter-spacing: 0;
  line-height: 22px;
  white-space: nowrap;
}

.iphone .levels {
  position: relative;
  flex: 1;
  flex-grow: 1;
  height: 22px;
  margin-top: -14.50px;
  margin-bottom: -14.50px;
}

.iphone .XR-XR-app-bar {
  display: flex;
  width: 356px;
  height: 45px;
  align-items: center;
  gap: 6px;
  padding: 12px 66px;
  position: absolute;
  top: 62px;
  left: 19px;
  background-color: #f3edf7;
  border-radius: 36px;
}

.iphone .leading-icon {
  display: flex;
  width: 48px;
  height: 48px;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: calc(50.00% - 24px);
  left: 12px;
}

.iphone .content {
  display: flex;
  flex-direction: column;
  width: 40px;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 100px;
  overflow: hidden;
}

.iphone .state-layer {
  display: flex;
  height: 40px;
  align-items: center;
  justify-content: center;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.iphone .icon {
  position: relative;
  width: 24px;
  height: 24px;
}

.iphone .trailing-elements {
  position: absolute;
  top: calc(50.00% - 24px);
  right: 12px;
  width: 48px;
  height: 48px;
}

.iphone .trailing-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 48px;
  height: 48px;
}

.iphone .text-field {
  display: flex;
  width: 364px;
  height: 62px;
  align-items: center;
  padding: 0px 16px;
  position: absolute;
  top: 527px;
  left: 15px;
}

.iphone .contents {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  flex: 1;
  align-self: stretch;
  flex-grow: 1;
}

.iphone .separator {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 3px;
  margin-top: -1.00px;
  margin-left: -1.00px;
  margin-right: -1.00px;
  border-top-width: 1px;
  border-top-style: solid;
  border-color: var(--colors-overlays-default);
}

.iphone .value {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  align-self: stretch;
  font-family: "Rubik Mono One-Regular", Helvetica;
  font-weight: 400;
  color: var(--m3sysdark-high-contraston-secondary);
  font-size: 17px;
  letter-spacing: -0.43px;
  line-height: 20px;
}

.iphone .button {
  all: unset;
  box-sizing: border-box;
  display: flex;
  width: 136px;
  height: 45px;
  align-items: center;
  justify-content: center;
  gap: var(--size-space-200);
  padding: var(--size-space-300);
  position: absolute;
  top: 618px;
  left: 133px;
  background-color: #2c2c2c;
  border-radius: var(--size-radius-200);
  overflow: hidden;
  border: 1px solid;
  border-color: var(--color-border-brand-default);
}

.iphone .div {
  position: relative;
  width: fit-content;
  font-family: var(--single-line-body-base-font-family);
  font-weight: var(--single-line-body-base-font-weight);
  color: #ffffff;
  font-size: var(--single-line-body-base-font-size);
  letter-spacing: var(--single-line-body-base-letter-spacing);
  line-height: var(--single-line-body-base-line-height);
  white-space: nowrap;
  font-style: var(--single-line-body-base-font-style);
}

.iphone .form-log-in {
  display: inline-flex;
  flex-direction: column;
  min-width: 320px;
  height: 323px;
  align-items: flex-start;
  gap: var(--size-space-600);
  padding: var(--size-space-600);
  position: absolute;
  top: 181px;
  left: 37px;
  border-radius: var(--size-radius-200);
  border: 1px solid;
  border-color: transparent;
}

.iphone .input-field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--size-space-200);
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.iphone .label {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: var(--body-base-font-family);
  font-weight: var(--body-base-font-weight);
  color: #000000;
  font-size: var(--body-base-font-size);
  letter-spacing: var(--body-base-letter-spacing);
  line-height: var(--body-base-line-height);
  font-style: var(--body-base-font-style);
  background: transparent;
  border: none;
  padding: 0;
}

.iphone .input {
  min-width: 120px;
  padding: var(--size-space-300) var(--size-space-400) var(--size-space-300)
    var(--size-space-400);
  position: relative;
  align-self: stretch;
  width: 100%;
  margin-bottom: -1.00px;
  margin-left: -1.00px;
  margin-right: -1.00px;
  background-color: var(--color-background-default-default);
  border-radius: var(--size-radius-200);
  overflow: hidden;
  border: 1px solid;
  border-color: transparent;
  flex: 1;
  margin-top: -0.50px;
  font-family: var(--single-line-body-base-font-family);
  font-weight: var(--single-line-body-base-font-weight);
  color: #000000;
  font-size: var(--single-line-body-base-font-size);
  letter-spacing: var(--single-line-body-base-letter-spacing);
  line-height: var(--single-line-body-base-line-height);
  font-style: var(--single-line-body-base-font-style);
}

.iphone .label-2 {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: var(--body-base-font-family);
  font-weight: var(--body-base-font-weight);
  color: #000000;
  font-size: var(--body-base-font-size);
  letter-spacing: var(--body-base-letter-spacing);
  line-height: var(--body-base-line-height);
  font-style: var(--body-base-font-style);
}

.iphone .value-wrapper {
  display: flex;
  min-width: 120px;
  align-items: center;
  padding: var(--size-space-300) var(--size-space-400) var(--size-space-300)
    var(--size-space-400);
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  margin-bottom: -1.00px;
  margin-left: -1.00px;
  margin-right: -1.00px;
  background-color: var(--color-background-default-default);
  border-radius: var(--size-radius-200);
  overflow: hidden;
  border: 1px solid;
  border-color: transparent;
}

.iphone .value-2 {
  position: relative;
  flex: 1;
  margin-top: -0.50px;
  font-family: var(--single-line-body-base-font-family);
  font-weight: var(--single-line-body-base-font-weight);
  color: #000000;
  font-size: var(--single-line-body-base-font-size);
  letter-spacing: var(--single-line-body-base-letter-spacing);
  line-height: var(--single-line-body-base-line-height);
  font-style: var(--single-line-body-base-font-style);
}

.iphone .button-group {
  display: flex;
  align-items: center;
  gap: var(--size-space-400);
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.iphone .button-2 {
  all: unset;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--size-space-200);
  padding: var(--size-space-300);
  position: relative;
  flex: 1;
  flex-grow: 1;
  background-color: var(--color-background-brand-default);
  border-radius: var(--size-radius-200);
  overflow: hidden;
  border: 1px solid;
  border-color: var(--color-border-brand-default);
}

.iphone .button-3 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--single-line-body-base-font-family);
  font-weight: var(--single-line-body-base-font-weight);
  color: #ffffff;
  font-size: var(--single-line-body-base-font-size);
  letter-spacing: var(--single-line-body-base-letter-spacing);
  line-height: var(--single-line-body-base-line-height);
  white-space: nowrap;
  font-style: var(--single-line-body-base-font-style);
}

.iphone .text-link {
  display: flex;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.iphone .text-link-2 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--body-link-font-family);
  font-weight: var(--body-link-font-weight);
  color: #000000;
  font-size: var(--body-link-font-size);
  letter-spacing: var(--body-link-letter-spacing);
  line-height: var(--body-link-line-height);
  text-decoration: underline;
  white-space: nowrap;
  font-style: var(--body-link-font-style);
}
